[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
django-extensions = "*"
fontawesome = "*"
django-bootstrap-static = "*"
hijack = "*"
django-hijack-admin = "*"
django-hijack = "*"
djangorestframework = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
